.author-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

.author-information-and-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.author-information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
}

.author-information > p:first-child {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Helvetica";
  font-size: 36px;
}

.author-information > p:not(:first-child) {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Quicksand";
  font-size: 28px;
  color: var(--subtle-text-color);
}

.author-description {
  font-family: "Quicksand";
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 130px;
  line-height: 35px;
}

.author-posts-title {
  font-family: "Lato";
  font-size: 48px;
  font-weight: 500;
  color: var(--subtle-text-color);
  margin-bottom: 50px;
}

.main-no-posts-title {
  font-family: "Lato";
  font-size: 32px;
  color: var(--subtle-text-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1050px) {
  .author-information {
    align-items: flex-start;
  }
}
