.footer-container {
  min-height: 120px;
  background-color: rgba(40, 40, 40, 1);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  font-family: "Quicksand";
  text-align: left;
}

.footer-website-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 400;
}

.footer-privacy-policy-link {
  color: white;
}
