.header-auth-container {
  display: flex;
  align-content: center;
  background-color: rgba(40, 40, 40, 1);
  padding: 3px;
}

.header-auth-container a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Poppins";
  padding: 2px 3px;
  margin-right: 4px;
}

.header-auth-avatar-link {
}

.header-auth-name {
  font-family: "Poppins";
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.header-auth-logout-link {
  margin-left: auto;
}

.header-auth-logout {
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.header-auth-login-link {
}

.header-auth-login {
}

.header-auth-register-link {
}

.header-auth-register {
}

.header-container {
  position: relative;
  text-align: center;
  background-color: rgba(40, 40, 40, 1);
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 45px;
  box-shadow: 0px 1px 1px black;
}

.header-title {
  font-size: 54px;
  font-family: "Poppins", "Lato", "Helvetica";
  letter-spacing: 1px;
  margin: 0px;
}

.header-description {
  font-size: 17px;
  font-family: "Lato", "Quicksand", "Helvetica";
  font-weight: 500;
  /*color: rgba(0, 0, 0, 0.7);*/
  margin: 0px;
}

.la-angle-double-down {
  cursor: pointer;
  position: absolute;
  font-size: 21px;
}
